body {
    font-family: 'Raleway', sans-serif;
    /*background-color: #1A1B1F;*/
    background-color: #FFFFFF;
    color: #FAFAFA;
}

p {
}

a {
    color: #67a2b6;
    text-decoration: none;
}

footer {
    position: fixed;
    text-decoration: none;
    bottom: -85px;
    left: -5px;
}

.container {
    max-width: 700px;
    height: auto;
    margin: 60px auto;
    padding: 15px;
    border: 0px;
    vertical-align: baseline;
}

.header {
    position: relative;
    margin: 50px auto;
}


#name {
    font-size: 70px;
    font-weight: 1;
    display: inline-block;
}

#email {
    color: #868686;
    display: block;
    font-size: 24px;
    font-weight: 1;
    margin: 0;
    margin-top: -60px;
    margin-left: 5px;
}

#bio {
    font-size: 22px;
    font-weight: normal;
    margin-top: 60px;
}

.section {
    vertical-align: top;
    display: inline-block;
    width: 49.7%;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}

.section-title {
    font-size: 20px;
    margin-bottom: 15px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    display: block;
}

.link-card {
    margin: 30px 0;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    display: block;
}

#footer-author {
    color: #53a343;
}

/* Contact page specifics */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  color: #FAFAFA;
  background-color: #303135;
  border: 1px solid #303135;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*input[type=submit]:hover {
  background-color: #45a049;
}*/
